.login {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-card {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.login-card > input {
    margin: 10px 0;
}

.login-title {
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
}